<nav class="navbar navbar-expand-lg bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">ng DHABA</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a
            class="nav-link"
            [ngClass]="{ active: activeRouterName.indexOf('dashboard') !== -1 }"
            (click)="navigate('/dashboard')"
            >Dashboard</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            [ngClass]="{ active: activeRouterName.indexOf('starters') !== -1 }"
            (click)="navigate('/starters')"
            >Starters</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            [ngClass]="{ active: activeRouterName.indexOf('cart') !== -1 }"
            (click)="navigate('/cart')"
            >Cart <sup>{{cartCount}}</sup></a
          >
        </li>
      </ul>
    </div>
  </div>
</nav>
